
body {
  margin: 0;
  overflow: hidden;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 24px;
}
canvas {
  display: block;
}
